<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.igoushop_app_test">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:name="com.example.administrator.igoushop_app_test.Myapplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.administrator.igoushop_app_test.StartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--<activity android:name=".MainActivity"/>-->
        <activity android:name="com.example.administrator.igoushop_app_test.activity.message_activity.SettingActivity"/>
        <activity android:name="com.example.administrator.igoushop_app_test.activity.message_activity.Personal_Info_Activity"/>
        <activity android:name="com.example.administrator.igoushop_app_test.activity.message_activity.NotifyActivity"/>
        <activity android:name="com.example.administrator.igoushop_app_test.activity.ProductDetailActivity">
            <intent-filter>
                <action android:name="productMessShow"/>
            </intent-filter>
        </activity>
        <activity android:name="com.example.administrator.igoushop_app_test.activity.ProductListActivity"/>
        <activity android:name="com.example.administrator.igoushop_app_test.activity.LoginActivity"
            android:launchMode="singleInstance"/>
        <activity android:name="com.example.administrator.igoushop_app_test.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity android:name="com.example.administrator.igoushop_app_test.activity.message_activity.AddrActivity"
            android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="com.example.administrator.igoushop_app_test.activity.HomeClickActivity"/>
        <activity android:name="com.example.administrator.igoushop_app_test.activity.message_activity.ModifyActivity"/>
        <activity android:name="com.example.administrator.igoushop_app_test.activity.OrderActivity"/>
        <activity android:name="com.example.administrator.igoushop_app_test.activity.message_activity.SuccessActivity"/>
        <activity android:name="com.example.administrator.igoushop_app_test.activity.message_activity.OrderListActivity"/>
        <activity android:name="com.example.administrator.igoushop_app_test.activity.message_activity.UserInfoActivity"/>
        <activity android:name="com.example.administrator.igoushop_app_test.activity.RegistActvity"/>
    </application>

</manifest>